hadoop_datanode1
hadoop_datanode2
hadoop_namenode
hive/conf/hiveserver2.pid
__pycache__/
airflow/logs/
airflow/data/*
airflow/airflow.db
airflow/airflow-webserver.pid
dagster_home/logs
dagster_home/.logs_queue
luigi/logs/
luigi/hello_world.txt
luigi/luigid.pid
luigi/luigi.db
luigi/state
.env